pydantic
urllib3
uvicorn
fastapi
colabcode
spacy
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.3/en_ner_bc5cdr_md-0.5.3.tar.gz
./models/sent2vec/.
faiss-cpu
huggingface_hub
langchain
sentence_transformers
selenium
chromedriver-autoinstaller
tqdm
